<!-- Footer -->
<footer class="bg-white">
  <div class="container py-5">
    <div class="row py-4">


  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">
        © 2022 LNQShortr.com All rights reserved.
      </p>
    </div>
  </div>
</footer>
<!-- End -->
<style>
 
  #button-addon1 {
    color: #ffc371;
  }

  i {
    color: #ffc371;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  .form-control.shadow-0:focus {
    box-shadow: none;
  }
</style>
